<footer class="bg-dark text-light py-3">
  <div class="container text-center">
    <p>&copy; 2024 Bookstore. All Rights Reserved.</p>
    <p>Address: 123 Bookstore Street</p>
    <p>Email: info@yourbookstore.com</p>
  </div>
</footer>
