<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BookStore</a>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="book">Books</a>
        <a class="nav-link" href="author">Authors</a>
        <a class="nav-link" href="publisher">Publishers</a>
        <a class="nav-link" href="location">Books published Location</a>
        <a class="nav-link" href="category">Books Category</a>
        <a class="nav-link" href="format">Books Format</a>
        <a class="nav-link" href="cover">Books Cover</a>
        <a class="nav-link" href="inventory">Books Inventory</a>
      </div>
    </div>
  </nav>
</header>
